@{
    ViewData["Title"] = "Time-Management Matrix";
}

@model List<TaskResponse>

 <br /><br />

<div class="container border border-outside" style="background-color: tan">
    <div class="row border-bottom">
        <div class="col border-bottom">
            <br /><h2 class="text-center">Stephen Covey's Time Management Matrix</h2><br />
        </div>
    </div>

    <div class="row border">
        <div class="col-2 border"></div>
        <div class="col-5 border">
            <h3 class="text-center">Urgent</h3>
        </div>
        <div class="col-5 border">
            <h3 class="text-center">Not Urgent</h3>
        </div>
    </div>

    <div class="row border">
        <div class="col-2 vertical border">
            <h3>&nbsp;&nbsp;Important&nbsp;</h3> @*&nbsp; just creates white space so there is a little bit more room*@
        </div>
        <div class="col-5 border">
            <h5 class="text-center">Quadrant 1</h5>
            <ul>
                @foreach (var x in Model)
                {
                    <li>
                        @x.Task
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Delete</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Completed</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-5 border">
            <h5 class="text-center">Quadrant 2</h5>
            <ul>
                @foreach (var x in Model)
                {
                    <li>
                        @x.Task
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Delete</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Completed</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row border-top">
        <div class="col-2 vertical">
            <h3>&nbsp;&nbsp;Not Important&nbsp;</h3> @*&nbsp; just creates white space so there is a little bit more room*@
        </div>
        <div class="col-5 border">
            <h5 class="text-center">Quadrant 3</h5>
            <ul>
                @foreach (var x in Model)
                {
                    <li>
                        @x.Task
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Delete</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Completed</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-5 border-left border-top">
            <h5 class="text-center">Quadrant 4</h5>
            <ul>
                @foreach (var x in Model)
                {
                    <li>
                        @x.Task
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Delete</a>
                        <a class="text-dark" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Completed</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>